#conteinerPesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputGeral {
    background-color: #FDECEC;
    border-radius: 5%;
    width: 300px;
    text-align: left;
    padding: 5px;
}

#input {
    border: 0px;
    background-color: #FDECEC;
    margin-left: 20px; 
};