.lista {
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}

#cabecalio {
    display: flex;
    align-items: center;
    font-family: work sans, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    justify-content: left;
}

.icones {
    height: 20px;
    margin: 10px;
}

#textoVermelho {
    display: flex;
    color: rgb(255, 0, 0, 0.6);
}

#conteinerCards {
    display: flex;
    flex-wrap: wrap;
    width: 35%;
}